<%= link_to "Add New Workshop", new_admin_workshop_path, class: "btn btn-warning"%>
<hr>
<div class="row">
  <% @workshops.each do |workshop|%>
  <div class="col-md-2">
    <div class="thumbnail text-center">
      <%= image_tag workshop.image, style: 'height:10em'%>
      <div class="caption">
        <h3><%= workshop.title %></h3>
        <p><%= workshop.description%></p>
      </p>
      <%= link_to "View", admin_workshop_path(workshop.id), class: "btn btn-primary"%>
      <%= link_to "Edit", edit_admin_workshop_path(workshop.id), class:"btn btn-primary"%>
      <%= link_to "Delete", admin_workshop_path(workshop.id), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-danger"%>
    </div>
  </div>
</div>
<%end%>
</div>
