<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="form-group">
      <p> First name          :  <%= @incompany.first_name%></p>
    </div>
    <div class="form-group">
      <p> Last name           :  <%= @incompany.last_name %></p>
    </div>
    <div class="form-group">
      <p> Company name        :  <%= @incompany.company_name %></p>
    </div>
    <div class="form-group">
      <p> Emailadres          :  <%= @incompany.email %></p>
    </div>
    <div class="form-group">
      <p> Date event          :  <%= @incompany.date%></p>
    </div>
    <div class="form-group">
      <p> Number participants :  <%= @incompany.spaces_available%></p>
    </div>
    <div class="form-group">
      <p> Comments            :   <%= @incompany.comments%></p>
    </div>
  </div>
</div>
<%= link_to "Edit", edit_admin_incompany_path(@incompany.id) %></td>
<%= link_to "Delete", admin_incompany_path(@incompany.id), method: :delete, data: {confirm: "Are you sure?"}%></td>
<%= link_to "List company requests", admin_incompanies_path,class: "btn btn-default"  %></td>
