<div class="container">
  <h3>Event details</h3>

  <%= image_tag @event.image %><br>
  <label>Title: </label><p><%= @event.title %></p>
  <label>Location: </label><p><%= @event.location %></p>
  <label>Spaces available: </label><p><%= @event.spaces_available %></p>
  <label>Workshop: </label><p><%= @event.workshop != nil ? @event.workshop.title : "No workshop" %></p>
  <label>Public: </label><p><%= @event.status ? "public" : "in-company"  %></p><br>

  <label>Sponsor:</label>
  <p><%= @event.sponsor.company_name %></p>
  <p><%= image_tag @event.sponsor.logo %></p>

  <%= button_to "[back]", admin_events_path, method: :get %>
  <%= button_to "[edit]", edit_admin_event_path(@event), method: :get %>
  <%= button_to "[delete]", admin_event_path(@event), method: :delete, data: { confirm: "Are you sure you want to delete event: \"#{@event.title}\"?" } %>
</div>
