<%= render 'shared/navbar' %>

<h1>Attend</h1>

<%= render 'shared/top_banner' %>
<%= render 'shared/choose_your_course' %>
<%= render 'shared/what_you_will_learn' %>
<%= render "shared/testimonials" %>
<%= render 'shared/get_ready_for_day' %>
<%= render 'shared/sponsors' %>
<%= render "shared/newsletter"%>
